/* Pricing
============================== */

/* Plans layout */

$s-pricing-default: 10px;

.plans {
	float: left;
	display: inline-block;
	margin: 0 0 $s-pricing-default * 2;
	padding: 0;
	width: 50%;

	@include clearfix;

	h1 {
		font-size: 1.2em;
		font-weight: normal;
		margin: 0 $s-pricing-default / 2 $s-pricing-default * 2;
	}
}

.plan-wrap {
	float: left;
	width: 33.33%;
}

.plan {
	background-color: #FFFFFF;
	border: 1px solid $c-grey;
	margin-right: -1px;
	color: #8A8A8A;
	padding: 0 $s-pricing-default $s-pricing-default;

	.plan-name {
		margin-top: -$s-pricing-default;
	}

	.plan-price {
		text-transform: uppercase;
		strong {
			color: #000;
			font-size: 1.7em;
			margin-right: 0.1em;
		}
	}

	ul {
		margin: 0;
		padding: 0;
		min-height: 140px;

		li {
			list-style: none;
		}
	}
}

.link-custom-plans {
	display: block;
	clear: both;
	text-align: center;
}

#pricing-new {
	$header-height: 400px;
	$header-padding: 36px;
	$header-bleed: 130px;

	/* Plans header */
	.plans-head {
		position: relative;
		text-align: center;
		background: #e2f7cd url(../images/bg-page-pattern.png) no-repeat 50% -11px;
		height: $header-height - $header-padding;
		padding: $header-padding 0 0;

		h1 {
			margin: 0 0.2em;
			padding: 0;
			color: #064;
			text-shadow: 0 1px 1px #FFF;
			-webkit-font-smoothing: antialiased;
			font-size: 30px;
			font-weight: normal;
		}
		h2 {
			margin: 0;
			padding: 0;
			color: #6A8066;
			font-weight: normal;
			font-size: 1.15em;

			a {
				color: $c-green-dark;
			}
		}

		&:after {
			content: url(../images/bg-feature-head-leaf.png);
			position: absolute;
			width: 161px;
			height: 43px;
			top: 0;
			left: 50%;
			margin-left: 340px;
		}
	}

	.page.top {
		$container-radius: 23px;

		margin-top: - $header-bleed;

		background-color: #FFF;
		background-position: 50% $container-radius - $header-height;
		position: relative;
		padding: 0;
		width: 100%;

		@include box-shadow(0px 0px 3px $c-green-light);
		@include border-radius($container-radius $container-radius 0 0);

		.container {
			position: relative;
			top: -$header-bleed;
			margin-bottom: -$header-bleed;
		}
	}



	/* Plan Labels */
	.free,
	.bronze,
	.silver,
	.gold,
	.platinum,
	.diamond {
		display: inline-block;
		position: relative;
		padding: 0 .4em 1px;
		@include border-radius(2px);
		font-weight: bold;
		font-size: 11px;
		text-shadow: 0 1px 0 #FFF;
		text-transform: uppercase;
		@include box-shadow(0 1px 2px rgba(0, 0, 0, .4));
	}

	.free     { background-color: $c-green-light; color: $c-green-darkest; }
	.bronze   { background-color: #FAEED7; color: #85562C; }
	.silver   { background-color: #EEEEEE; color: #555555; }
	.gold     { background-color: #FFF7B1; color: #7B6E00; }
	.platinum { background-color: #F3FBFF; color: #516672; }
	.diamond  { background-color: #D7FAFF; color: #10545E; }

	.diamond i {
		display: block;
		position: absolute;
		top: -4px;
		left: -4px;
		width: 14px;
		height: 14px;
		background: url(../images/i-blink.png) no-repeat 0 0;
}


/* 15-day Guarantee Ribbon */

.guarantee-ribbon {
	position: absolute;
	top: 88px;
	left: 50%;
	width: 318px;
	height: 160px;
	margin-left: 311px;
	background: url(../images/guarantee-ribbon.png) no-repeat;
	overflow: hidden;
}
	.guarantee-ribbon h1,
	.guarantee-ribbon p {
		margin: 0;
		border: 0;
		padding: 0;
		font-weight: normal;
		font-size: 1em;
		line-height: normal;
		text-indent: -9999em;
	}


.square-button {
	display: block;
	border-width: 1px !important;
	border-style: solid;
	@include border-radius(2px);
	padding: .4em 1.2em .6em;
	font-weight: bold;
	font-size: 14px;
	line-height: 1;
	text-decoration: none;
	text-align: center;
}
.square-button--big {
	border-width: 2px;
	@include border-radius(4px);
	padding: .8em 1.5em 1em;
	font-size: 21px;
	@include box-shadow(0 0 0 3px rgba(0, 0, 0, .08));

	&:hover {
		@include box-shadow(0 0 0 3px rgba(0, 0, 0, .12));
	}

	small {
		display: block;
		margin-top: .4em;
		font-weight: normal;
		font-size: 14px;
	}
}
.square-button.t-grey {
	border-color: #9F9F9F;
	background-color: #DADADA;
	@include linear-gradient(#FFFFFF, #DADADA);
	color: #444 !important;
	@include box-shadow(0 0 0 2px rgba(0, 0, 0, .08));

	&:hover {
		border-color: #888;
		background-color: #D0D0D0;
		@include linear-gradient(#FFFFFF, #D0D0D0);
		color: #111 !important;
		@include box-shadow(0 0 0 2px rgba(0, 0, 0, .12));
	}
}
.square-button.t-purple {
	border-color: #9F9FA6;
	background-color: #DADAE0;
	@include linear-gradient(#FFFFFF, #DADAE0);
	color: #445 !important;
	@include box-shadow(0 0 0 2px rgba(76, 76, 102, .10));

	&:hover {
		border-color: #8E8E9E;
		background-color: #D1D1DE;
		@include linear-gradient(#FFFFFF, #D1D1DE);
		color: #112 !important;
		@include box-shadow(0 0 0 2px rgba(0, 0, 0, .13));
	}
}
.square-button.t-green {
	border-color: #0f9926;
	background-color: #42a653;
	@include linear-gradient(#87d977, #42a653);
	color: #FFF !important;
	text-shadow: 0 1px 1px #0f9926;
	@include box-shadow(inset 0 0 2px rgba(#FFF, .75), 0 0 0 2px rgba(#000, .08));

	&:hover {
		border-color: #008015;
		background-color: #369946;
		@include linear-gradient(#99e58a, #369946);
		@include box-shadow(inset 0 0 2px #FFF, 0 0 0 2px rgba(#000, .10));
	}

	small {
		color: #c4f7ba;
	}
}
.square-button--big.t-green {
	@include box-shadow(inset 0 0 4px rgba(#FFF, .75), 0 0 0 4px rgba(#000, .08));

	&:hover {
		@include box-shadow(inset 0 0 4px #FFF, 0 0 0 4px rgba(#000, .10));
	}
}


/* Referral notice */

.referral-notice {
	margin: 20px 0;
	padding: 0;
	text-align: center;

	strong {
		display: inline-block;
		padding: .6em 1.5em .75em;
		@include border-radius(3px);
		@include box-shadow(0 1px 2px rgba(0, 0, 0, .4));
		background-color: #FFEE66;
		border: 1px solid lighten(#FFEE66, 10%);
		color: #4D4636;
		font-weight: bold;
		font-size: 1.1em;
		line-height: normal;
	}
}


/* FAQ */

#faq {
	margin: 2em -20px 4em;
	line-height: 1.5;
	overflow: hidden;

	.column {
		float: left;
		width: 50%;
	}

		h2 {
			margin: 2em 20px .25em;
			color: #444;
			font-size: 1.1em;
		}
		p {
			margin: 0 20px 1em;
			color: #888;
			line-height: 1.5;
		}
}

	/* Features List */

	.features-list {
		margin: 60px 0 40px;
		color: #222;
		@include clearfix;

		.plan-standard {
			display: inline-block;
			float: left;
			width: 55%;
			li {
				float: left;
				width: 50%;
			}
		}

		.plan-extra {
			display: inline-block;
			float: left;
			width: 45%;
			h2, ul {
				margin-left: $s-pricing-default;
			}
		}

		ul {
			margin: 0;
			overflow: hidden;

			li {
				margin: .3em 0 .6em;
				padding: 0;
				list-style: none;

				&:before {
					content: url('../images/i-checkmark-grey.svg');
					margin-right: 4px;
					width: 11px;
					height: 10px;
					display: inline-block;
				}

				&.no-svg:before {
					content: url('../images/i-checkmark-grey.png');
				}

				&.no-bullet:before {
					content: "";
					width: 0;
					height: 0;
					padding-left: 0;
					background-image: none;
				}
			}
		}

	}
}

/* Customers Showcase */

$customers-bg: mix($c-brown-dark, $c-brown, 80%);

.customers-container {
	position: relative;
	margin-bottom: -1px;
	padding: 30px 0;
	overflow: hidden;
}
	.customers--reverse {
		background-color: $customers-bg;

		&:before,
		&:after {
			content: '';
			position: absolute;
			width: 100%;
			height: .5em;
		}
		&:before {
			top: 0;
			@include linear-gradient(rgba(black, .33), rgba($customers-bg, 0));
		}
		&:after {
			bottom: 0;
			@include linear-gradient(rgba($customers-bg, 0), rgba(black, .33));
		}
	}

.customers-title {
	margin: .25em 0 1.25em;
	color: mix($customers-bg, white, 50%);
	font: normal normal 1.1875em $f-accent;
	-webkit-font-smoothing: antialiased;
	text-shadow: 0 1px 1px rgba(black, .33);
	text-align: center;
}


.customers-logos {
	width: 940px;
	margin: 0 auto;
	overflow: hidden;

	li {
		float: left;
	  height: 71px;
	  margin: 0;
	  margin-left: 51px;
	  background-image: url('../images/customers-showcase-color.png');
	  background-repeat: no-repeat;
	  background-size: 633px 71px;
	  list-style: none;
	  text-indent: -999em;
	  overflow: hidden;

		&:first-child {
			margin-left: 0;
		}

		@include retina {
			background-image: image-url('customers-showcase-color@2x.png');
		}
	}
}
.customers-logos--reverse {
	li {
		height: 71px;
	  margin-left: 24px;
	  background-image: url('../images/customers-showcase.png?1372093512');
	  background-size: 792px 71px;

		@include retina {
			background-image: image-url('customers-showcase@2x.png');
		}
	}
}
	.customer-logo-wholefoods {
		width: 85px;
		background-position: 0 0;
	}
	.customer-logo-philips {
		width: 125px;
		background-position: -85px 0;
	}
	.customer-logo-intel {
		width: 90px;
		background-position: -(85px + 125px) 0;
	}
	.customer-logo-disney {
		width: 103px;
		background-position: -(85px + 125px + 90px) 0;
	}
	.customer-logo-citrix {
		width: 98px;
		background-position: -(85px + 125px + 90px + 103px) 0;
	}
	.customer-logo-happycog {
		width: 71px;
		background-position: -(85px + 125px + 90px + 103px + 98px) 0;
	}
	.customer-logo-realmac {
		width: 219px;
		background-position: -(85px + 125px + 90px + 103px + 98px + 71px) 0;
	}
	.customer-logo-realmac-sign {
		width: 60px;
		background-position: -(85px + 125px + 90px + 103px + 98px + 71px) 0;
	}
